.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw; /* Ensure it takes full viewport width */
  background-color: #f0f2f5;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: auto; /* Add this to center the box horizontally */
}

.login-box h2 {
  margin-bottom: 30px;
  color: #333;
  font-size: 28px;
}

.input-group {
  margin-bottom: 15px; /* Adjusted margin for better spacing */
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Ensures padding doesn't increase width */
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjusted margin */
}

.checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-group label {
  font-size: 14px;
  color: #666;
}

.error-message {
  color: #e74c3c;
  margin-bottom: 15px;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #8B735C; /* A warm, earthy brown */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #7a634e; /* A slightly darker brown on hover */
}

.show-password-checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.show-password-checkbox input[type="checkbox"] {
  margin-right: 8px;
}